
   
        
       
       

       <div id="chat">
        <center><h3><span class="label label-primary">Chat Box</span></h3></center>
           <div id="chat-window">
            <div id="output"></div>
            <div id="feedback"></div>
             </div>
            
               <input id="message" type="text" placeholder="Message" />
               <button id="send">Send</button>

              </div>
        
            
    