<%- include('header.ejs') %>
    
    <div class="joincontainer">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#joincandidatetab">Join As Cadidate</a></li>
        <li><a data-toggle="tab" href="#joininterviewertab">Join As Interviewer</a></li>
        <li><a data-toggle="tab" href="#createtab">create interview link</a></li>
      </ul>
      
      <div class="tab-content">
        
          <div id="joincandidatetab" class="tab-pane fade in active">
            <div class="form-group">
              <label for="usr">Room Id:</label>
              <input type="text" class="form-control" id="inputroomidc">
            </div>
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="candidatename">
            </div>
            <button type="button" class="btn btn-primary" id="joincandidatebutton">join</button>
      </div>


        <div id="joininterviewertab" class="tab-pane fade ">
                <div class="form-group">
                  <label for="usr">Room Id:</label>
                  <input type="text" class="form-control" id="inputroomidi">
                </div>
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" class="form-control" id="interviewername">
                </div>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" id="joinpwd">
                </div>
                <button type="button" class="btn btn-primary" id="joininterviewerbutton">join</button>
        </div>


        <div id="createtab" class="tab-pane fade">
                  <div class="form-group">
                    <label for="invitecode">invite code: <%=roomId%></label>
                  </div>
                  <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="createpwd">
                  </div>
                  <button type="button" class="btn btn-primary" id="createbutton">create</button>
        </div>


      </div>
    </div>

  
<%- include('footer.ejs') %>    