<link rel="stylesheet" href="/score.css">
<div class="note" id="note-pannel">
    <button class="accordion">Notes</button>
    <div class="note-textarea">
    
  
    <textarea class="form-control rounded-0 note-area" id="note-area" rows="10"></textarea>
    <button type="button" class="btn btn-primary"id="submit" onclick="generateNote()">Download</button>
    </div>

</div>