<div id="question">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#question">Task description</a></li>
    </ul>
      
        
    
    
    <div class="tab-content">
        <div  class="tab-pane fade in active">
          
            <div class="card question" >
                
                <div class="card-body">
                    <div class="row" style="display: flex;">
                    <h5 class="card-title">Question-1</h5>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Categories <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a href="#">Implementation</a></li>
                          <li><a href="#">Dynamic Programming</a></li>
                          <li><a href="#">Graphs</a></li>
                        </ul>
                      </div>
                </div>
                    <p >
                        <pre id="quesSec">
                        <%=quesDes %>
                        </pre>     
                    </p>
                    
                  </div>
              </div>

          
        </div>
      
        
    </div>
        
</div> 


    
   















