
<link rel="stylesheet" href="/score.css">
<div id="score-pannel">
   
<button class="accordion">Code Quality</button>
<div class="panel">
    <textarea  class="detail" id="detail_quality" placeholder="Enter your feedback here"></textarea>
    
  
</div>

<button class="accordion">Problem Solving </button>
<div class="panel">
    <textarea  class="detail" id="detail_solving" placeholder="Enter your feedback here"></textarea>
    
</div>

<button class="accordion">Language Proficiency</button>
<div class="panel">
    <textarea class="detail"  id="detail_proficiency" placeholder="Enter your feedback here"></textarea>
    
</div>

<button class="accordion">Technical Communication</button>
<div class="panel">
    <textarea class="detail" id="detail_commnunication" placeholder="Enter your feedback here"></textarea>
   
</div>
<button id="submit" onclick="generatePdf()">Download</button>

</div>