<div id="video-grid">

    <div id="video-grid1" >
      <img id="video_handler" alt="Turn camera off" src="/camera_on.png"  onClick="camera()"></button>
      <img id="audio_handler" alt="Turn audio off" src="/audio_on.png"  onClick="audio()"></button>
      <img id="default_image" src="/person.jpg" >
     
    </div>
    <div id="video-grid2" >
        <img id="default_image_other" src="/other_person.png" >
    </div>
  
  </div>