#heading{
    text-align: center;
    font-size: 50px;
    font-style: oblique;

}
.chooseLanguage{
    position: absolute;
    left:80px;
    top:70px;
}
.question{

    height: 100%;
}


#topheader{
    position: absolute;
    left:300px;
    top:10px;

}

#smallHeader{
    position: absolute;
    top:100px;
    width: 100%;
    height: 100%;
    
}

#inputBox{
         
    position: absolute;
    height: 80px;
    width: 300px;
    right:372px;
    top:730px;

}
#resultBox{
    position: absolute;
    height: 80px;
    width: 300px;
    right:372px;
    top:830px;

}
#detailBox{
    position: absolute;
    height: 80px;
    width: 300px;
    right:372px;
    top:950px;

}

#editor { 
    position: absolute;
   left: 80px;
   top:100px;
    width: 600px;
    height: 600px;
}


#submit{
    position: absolute;
    left:610px;
      top:700px;
    }

 #result{
     font-size: larger;
     font-family: cursive;

 }
 #chat{
    position: absolute;
   left: 780px;
   top:260px;
    width: 300px;
    height: 600px;
} 
 #chat-window{
    height: 200px;
    overflow: auto;
    background: #f9f9f9;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color:  darkslategray;
    
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

#send{
    background: darkslategray;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}
.quespara::first-line{
    font-weight: bold;
}   

