body{
    background-color: rgba(0, 0, 0, 0.822);
    cursor:url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;
}

#heading{
    text-align: center;
    font-size: 50px;
    font-style: oblique;

}

.question{

    
    overflow: scroll;
    height: 80%;
}


#smallHeader{
     position: absolute;
    top:6.68%;
    left:-1%;
    width: 100%;
    height: 100%; 
    
}

 #chat{
    position: absolute;
   left: 40px;
   top:350px;
    width: 300px;
    height: 300px;
} 
 #chat-window{
    height: 200px;
    overflow: auto;
    background: #f9f9f9;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color:  darkslategray;
    
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

#send{
    background: darkslategray;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}   

/*.........................................compiler.ejs...........................................*/


#inputBox{
         
    position: absolute;
    overflow:scroll;
    width: 100%;
    left:0%;
    top:1000%;
    visibility: hidden;
    background-color: rgba(5, 5, 5, 0.712);
    z-index: 1000;
    white-space: pre-wrap;
    color: white;

}

#input_output{
    position: absolute;
     top: 1630%;
     right:0%; 
     width: 100%;
     z-index: 1000;
    transition: 700ms;
    z-index: 1001;

}

#resultBox{
   
    position: absolute;
    /* font-size: 14px; */
    background-color: rgba(5, 5, 5, 0.712);
    overflow:scroll;
    width: 100%;
    left:0%;
    top:1000%;
    visibility: hidden;
    white-space: pre-wrap;
    z-index: 1000;
    color: white;
    
}
#detailBox{
       
    position: absolute;
    width: 100%;
    left:0%;
    overflow:scroll;
    color:white;
    top:1000%;
    background-color: rgba(5, 5, 5, 0.712);
    visibility: hidden;
    white-space: pre-wrap;
    color: white;
    z-index: 1000;
    
}

#editor { 
    position: absolute;
   left: 0.4%;
   top:122%;
    width: 100%;
    height: 1620%;
}

#input_button{
    position: absolute;
    left:2%;
      top:15% 

}
#output_button{
    position: absolute;
    left:13%;
      top:15% 
}
#details_button{
    position: absolute;
    left:28%;
      top:15% 
}



#submit_button{
    position: absolute;
    left:83%;
      top:8px ;
}
#close_button{
    position: absolute;
    left:96.5%;
    height: 100%;
      top:13px ;
      color: rgb(255, 0, 0);
      visibility: hidden;
      transition: 500ms;

    
}

 #result{
     font-size: larger;
     font-family: cursive;

 }

/*..................................language select.......................... */
.chooseLanguage{
    position: absolute;
    left:83%;
    top:10%;
    z-index: 3;
    /* transform: translate(-50%, -50%); */
}

.chooseLanguage select {
    background-color: #1320d6e0;
    color: rgb(255, 255, 255);
    padding: 1%;
    height: 31px;
    width: 107%;
    border: none;
    font-size: 12px;
     box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2); 
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
  .chooseLanguage::before {
    content: " ";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: -4%;
    width: 21.7%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
  .chooseLanguage:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .chooseLanguage select option {
    padding: 8%;
  }